* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ba1f1f;
  font-family: sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  position: relative;
  background-color: #6bccea;
  box-shadow: 0px 5px 10px 0px #00000036;
  z-index: 1;
  color: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  flex-shrink: 0;
}

.main {
  flex-shrink: 0;
  position: relative;
  display: flex;
  height: calc(100vh - 100px);
  background: #78e084;
}

.footer {
  position: relative;
  background-color: #6bccea;
  z-index: 1;
  color: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  flex-shrink: 0;
}

.sidebar-left {
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  width: 200px;
  position: relative;
  background-color: #bfced3;
  color: #000;
  box-shadow: 5px 10px 10px 5px #00000036;
}

.logo a,
.logo :visited {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
}

.sidebar-links {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.article {
  padding: 10px;
  display: flex;
  width: 100%;
  background-color: #e9b652;
  color: #000;
  overflow: scroll;
}

.help-button {
  z-index: 999;
  font-size: 25px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #6bccea86;
  color: #000;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;

  /* horizontal, vertical, blur, spread */
  box-shadow: 0 0 10px 0 #000;
}

.settings-button {
  z-index: 999;
  font-size: 25px;
  position: fixed;
  bottom: 70px;
  left: 20px;
  background-color: #6beab7a8;
  color: #000;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.menu-button {
  z-index: 999;
  font-size: 15px;
  transform: rotate(90deg);
  position: fixed;
  right: 20px;
  top: 200px;
  background-color: #e273a3;
  color: #000;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.avatar-button {
  z-index: 999;
  font-size: 25px;
  position: fixed;
  top: 200px;
  left: 20px;
  background-color: #dc21c05f;
  color: #000;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.slider {

  position: absolute;
  bottom: 10px;
  right: 10px;

}

.slider-button {

  font-size: 15px;
  background-color: #57e365;
  color: #000;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .navbar {
    justify-content: right;
  }

  .sidebar {
    transition: width 0.1s ease-in-out;
    width: 0;
    box-shadow: none;
  }

  .help-button,
  .settings-button,
  .menu-button,
  .avatar-button,
  .sidebar-links,
  .logo {
    display: none;
  }

}

@media (max-width: 300px) {
  .footer {
    display: none;
  }
  .content {
    height: calc(100vh - 50px);
  }
}