* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #c74a4a;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #73f1fa;
  flex: 0 0 50px;
}

.main {
  background-color: aquamarine;
  display: flex;
  flex: 1;
}

.sidebar-left {
  background-color: rgb(225, 255, 127);
  flex: 0 0 200px;
}

.article {
  background-color: rgb(223, 186, 77);
  flex: 1;
}

.footer {
  background-color: #73f1fa;
  flex: 0 0 50px;
}