* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #73f1fa;
  flex: 0 0 50px;
}

.main {
  overflow: auto;
  background-color: aquamarine;
  display: flex;
  flex: 1;
}

.sidebar-left {
  transition: flex-basis 0.5s ease-in-out;
  background-color: rgb(225, 255, 127);
  flex-basis: 200px;
  position: relative;
  padding: 10px;
}

.article {
  display: flex;
  background-color: rgb(223, 186, 77);
  flex: 1;
  overflow: scroll;
}

.footer {
  background-color: #73f1fa;
  flex: 0 0 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar__logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  gap: 20px;
}

.navbar__menu>a {
  text-decoration: none;
  color: rgb(255, 81, 0);
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__menu>a {
  text-decoration: none;
  color: rgb(255, 0, 238);
}

.slider {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.slider__button {
  background: #5af51388;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.post {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.post__title {
  font-size: large;
  font-weight: 600;

}

.post__content {
  flex: 1;
}

.help {
  position: fixed;
  right: 20px;
  bottom: 70px;
}

.help__button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: #000000;
  background-color: aquamarine;
  cursor: pointer;
}

@media (max-width: 768px) {

  .navbar {
    justify-content: right;
  }

  .sidebar-left,
  .help__button,
  .slider,
  .sidebar__menu,
  .slider__button,
  .navbar__logo {
    display: none;
  }

}

@media (max-height: 600px) {
  .footer {
    display: none;
  }

  .help {
    bottom: 20px;
  }
}

.content {
  height: calc(100vh - 50px);
}